.title{
    text-align: center;
}

.buttons-container{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.buttons{
    width: 80px;

}

.container{
    width: 480px !important;
    height: 460px !important;
}

* {
    box-sizing: border-box;
}
  
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px 0 10px 0;
    flex: 50%;
}

.flex-item-right {
    background-color: #f1f1f1;
    padding: 10px 0 10px 0;
    flex: 50%;
}

.radio-container input {
    margin-left: 15px;
}

@media (max-width: 528px) {
    .flex-container {
        flex-direction: column;
    }
    .font{
        font-size: 20px;
    }
}