.title{
    text-align: center;
}

.buttons-container{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.buttons{
    width: 80px;

}

* {
    box-sizing: border-box;
}
  
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}