{% extends 'main/home.html' %}

<!-- Box for showing anime popularity in a country
     Needs buttons of different countries and updates
     list based on button input
-->
{% block content %}
    <h1>Anime Popularity in US States</h1>

    <ul>
        {% for item in regions %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endblock %}

<!-- This box shows interest over time of a given keyword
     these keywords are scraped from trending of myanimelist
     then display these as buttons, based on a selecting a button
     update the lists for each countries results for this butotn keyword
-->
<!--
{% block list %}
    <h1>Anime PS States</h1>

    <ul>
        {% for item in regions %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endblock %}
-->